@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');


.subPage p {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 27px;
}
.introduce p, span {
    font-family: 'Nanum Pen Script', cursive;
    font-size : 22px;
}

.wrapper p, menu{
    font-family: 'Nanum Pen Script', cursive;
    font-size: 25px;
}

.introduce #about {
    font-size: 35px;
}

html, body{
    width: 100%; 
    height: 100%;
}

::-webkit-scrollbar {
    display: none;
  }

/* snuiitoo 로고 */
.main_hd img {
    width : 23%
}
.main_hd {
    position : absolute;
    left : 21%;
    top : 15px;
}

/* 게시판 리스트 */
.gnb_list {
    position : absolute;
    right : 22%;
    top : 90px;
}

.gnb_list a {
    margin-left: 14px;
    text-decoration: none;
    color:black;
}

.gnb_list a:hover {
    text-decoration: underline;
}

/* aboutme */

#slideshow { 
    width: 240px; 
    height: 240px; 
}

#slideshow img {
    width:340px;
    margin-top: 160px;
    margin-left:25%;
    margin-right: 5%;
    float: left;
}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: -10px; 
    right: 10px; 
    bottom: 10px; 
}

#about {
    font-size: 25px;
}

.half {
    background: linear-gradient(to top, #FFE400 50%, transparent 50%)
}

.introduce p {
    margin-top: 5px;

}

.introduce {
    position: relative;
    top: -70px;
    left: 50%;
}

.sns {
    position: fixed;
    bottom: 5px;
    right: 3%;
    display: flex; 
    flex-direction: row; 
}

.sns li {
    list-style: none;
    margin-left: 15px;
} 

.sns img {
    width:30px;
}

.sns li:hover {
    margin-right: 7px;
    transition: all 0.5s;
}

.copyright {
    position: fixed;
    bottom: 5px;
    left: 3%;
    font-size: 13px;
    /* font-style : italic; */
    font-weight: bold;
}

/* join */

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: sans-serif;

}

body {
    background-image: #34495e;
}

.memberForm {
    position: absolute;
    width: 400px;
    height: 300px;
    text-align: center;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.textForm {
    border-bottom: 2px solid #adadad;
    margin: 30px;
    padding: 10px 10px;
}


.id {
    width: 100%;
    border: none;
    outline: none;
    color: #636e72;
    font-size: 16px;
    height: 25px;
    background: none;
}

.pw,
.checkPw {
    width: 100%;
    border: none;
    outline: none;
    color: #636e72;
    font-size: 16px;
    height: 25px;
    background: none;
}

.userName {
    width: 100%;
    border: none;
    outline: none;
    color: #636e72;
    font-size: 16px;
    height: 25px;
    background: none;
}

.phoneNumber {
    width: 100%;
    border: none;
    outline: none;
    color: #636e72;
    font-size: 16px;
    height: 25px;
    background: none;
}

.btn {
    position: relative;
    left: 40%;
    transform: translateX(-50%);
    width: 80%;
    height: 40px;
    background-color: #393b3d;
    background-position: left;
    background-size: 200%;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: 0.4s;
    display: inline;
}

.btn:hover {
    background-position: right;
}

.j_btn {
    position: relative;
    left: 40%;
    transform: translateX(-50%);
    margin-bottom: 20px;
    width: 80%;
    height: 40px;
    background-color: #676666;
    background-position: left;
    background-size: 200%;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: 0.4s;
    display: inline;
}


/* contact */
#sea {
    text-align: center;
    margin-top : 10%;
}

#sea img {
    width : 56.5%;
    height : 440px;
}

.contact {
    margin-left: 21.7%;
    margin-top: 1%;
}

.contact p {
    font-size: 5px;
}

/* movie */
.page {
    width:100%;
    height: 100%;
    text-align: center;
    position: relative;
    top: 22%;
    
    background-image: url(./images/pngwing.com.png);
    background-repeat: no-repeat;
    background-size: 60% 65%;
    background-position: 50% 2%;
}

.subPage {
    width:100%;
    height: 100%;
}


html, body{
    width: 100%; 
    height: 100%;
}

._title {
    font-weight: bold;
    font-size:20px;
}

.page iframe {
    margin-top:2%;
    margin-bottom: 1%;
}

.slider {
    width : 300px;
    height: 400px;
    /* position: relative; */
    /* margin-left: 40%; */
}

.slide {
    width: 200px;
    height: 400px;
    background-size: cover;
    border-radius: 10px;
    animation: fade 1.5s;
    display: none;
    margin-left: 40%;
    
}

.slide img{
    width : 580px;
    height: 295px;
    margin-left: 360px;
    margin-top: 90px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 32%;
    transform: translateY(-50%);
    padding: 16px;
    /* color: white; */
    font-size: 2rem;
    transition: 0.5s ease;
    border-radius: 5px;
}
.prev {
    left: 25%;
}
.next {
    right: 25%;
}

.prev:hover,
.next:hover {
    background-color:#adadad;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

.mv {
    text-align: center;
}

.play {
    margin-top: 60px;
    margin-bottom: 70px;
}

.subPage {
    top: 190px;
}

.film {
    position: fixed;
    top: 22.7%;
    left: 20%;
}

.film img {
    width: 920px;
    height: 468px;
}

#roa1 img{
    width: 300px;
    margin-top: 200px;
    margin-left: 150px;
    position: absolute;
    animation: fadeInLeft 2s;
    float: left;
}

#roa2 img {
    width: 600px;
    float: right;
    margin-top: 150px;
    margin-right: 300px;
}


@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

.introduce {
    animation: fadeInRight 1s;
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

.wrapper {
    position: relative;
    margin-top: 218px;
    float: right;
    margin-right: -450px;
}

.menu {
    width: 300px;
    height: 30px;
    /* border-radius: 10px; */
    text-align: center;
    /* border:1px solid lightgreen; */
    margin-top: 10px;
    padding: 3px;
    font-size: 20px;
}

.menu:hover {
    cursor: pointer;
    transform: scale(1.4);
    
}
.content {
    width: 300px;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 3px 0;
    padding: 3px;
    display: none;
    text-align: center;
}

